@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular'.woff") format("woff");
  font-weight: 400;
  font-style: "normal";
}

@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold'.woff") format("woff");
  font-weight: 700;
  font-style: "normal";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  width: auto;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #020202;
  line-height: 1.2;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 6px;
  background-color: #020202;
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: linear-gradient(85deg, #D6324D 7.59%, #AF0388 45.49%, #6C04B3 86.48%);
  border-radius: 6px;
}

body::-webkit-scrollbar-button:vertical:start:decrement,
html::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #020202 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #020202 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #020202 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #020202;
}

body::-webkit-scrollbar-button:vertical:end:increment,
html::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, #020202 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #020202 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #020202 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #020202;
}

a,
a:hover,
a:active,
a:link,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 16px;
}

a:hover,
a:hover:hover,
a:active:hover,
a:link:hover,
a:focus:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background: -o-linear-gradient(5deg, #D6324D 7.59%, #AF0388 45.49%, #6C04B3 86.48%);
  background: linear-gradient(85deg, #D6324D 7.59%, #AF0388 45.49%, #6C04B3 86.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  line-height: 1.5;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

ol {
  list-style: decimal;
  padding-left: 20px;
}

div,
span,
article,
nav,
section,
main,
header {
  padding: 0;
  margin: 0;
}

input,
button,
select,
textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #020202;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

input:placeholder,
button:placeholder,
select:placeholder,
textarea:placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

textarea {
  resize: none;
  max-width: 440px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-height: 160px;
  padding: 10px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
  background: #fff;
  color: #020202;
}

input[type=text],
input[type=tel],
input[type=submit],
button,
input[type=password],
input[type=email] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 10px 15px;
  width: 100%;
  max-width: 100%;
}

input[type=submit],
button {
  cursor: pointer;
}

input[type=number] {
  padding: 10px 15px;
  width: 100%;
  max-width: 440px;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
  visibility: hidden;
  position: absolute;
  margin: 0;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
select:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  display: block;
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 100%;
  max-width: 1215px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

section {
  padding-bottom: 60px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.hidden {
  display: none;
}

.page-top {
  padding-top: 153px;
}

.header {
  padding-top: 44px;
  padding-bottom: 44px;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 15;
  top: 0;
  right: 0;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: block;
}

.header-logo p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  color: #C4C4C4;
  margin: 0;
}

.header-logo svg {
  display: block;
  margin-bottom: 7px;
}

.header-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
}

.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-menu ul li a {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  display: block;
  margin: 0 25px;
}

.header-menu ul li a:hover {
  background: -o-linear-gradient(5deg, #D6324D 7.59%, #AF0388 45.49%, #6C04B3 86.48%);
  background: linear-gradient(85deg, #D6324D 7.59%, #AF0388 45.49%, #6C04B3 86.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-menu ul li.menu-item-has-children {
  position: relative;
  z-index: 20;
}

.header-menu ul li.menu-item-has-children > a {
  position: relative;
  padding-right: 30px;
}

.header-menu ul li.menu-item-has-children > a::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icons/arr.svg);
  right: 0;
  top: calc(50% + 2px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-menu ul li.menu-item-has-children::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 20px;
}

.header-menu ul li.menu-item-has-children ul {
  display: none;
  position: absolute;
  padding: 25px;
  border: 1px solid rgba(167, 167, 167, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(149, 149, 149, 0.13)), to(rgba(3, 3, 3, 0.08)));
  background: -o-linear-gradient(top, rgba(149, 149, 149, 0.13) 0%, rgba(3, 3, 3, 0.08) 100%);
  background: linear-gradient(180deg, rgba(149, 149, 149, 0.13) 0%, rgba(3, 3, 3, 0.08) 100%);
  padding-bottom: 15px;
  border-radius: 10px;
  background-image: url(../img/bg-card.svg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(51.5px);
          backdrop-filter: blur(51.5px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(100% + 15px);
  z-index: 20;
}

.header-menu ul li.menu-item-has-children ul a {
  display: block;
  width: 100%;
  margin-left: 0;
  white-space: nowrap;
  margin-bottom: 10px;
  text-align: center;
}

.header-right {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-right a {
  font-size: 20px;
  font-weight: 700;
  display: block;
  text-align: end;
  margin-bottom: 5px;
}

.header-right a:hover {
  background: -o-linear-gradient(5deg, #D6324D 7.59%, #AF0388 45.49%, #6C04B3 86.48%);
  background: linear-gradient(85deg, #D6324D 7.59%, #AF0388 45.49%, #6C04B3 86.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-right small {
  font-size: 16px;
  font-weight: 400;
  display: block;
  text-align: end;
  color: #C4C4C4;
}

.header .lang .gt_switcher {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: visible;
}

.header .lang .gt_switcher .gt_option {
  position: absolute !important;
  top: 100%;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0px;
  border-radius: 4px;
  border: 1px solid #A7A7A7 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(149, 149, 149, 0.13)), to(rgba(3, 3, 3, 0.08))) !important;
  background: -o-linear-gradient(top, rgba(149, 149, 149, 0.13) 0%, rgba(3, 3, 3, 0.08) 100%) !important;
  background: linear-gradient(180deg, rgba(149, 149, 149, 0.13) 0%, rgba(3, 3, 3, 0.08) 100%) !important;
  -webkit-backdrop-filter: blur(51.5px) !important;
          backdrop-filter: blur(51.5px) !important;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header .lang .gt_switcher .gt_option a {
  font-size: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header .lang .gt_switcher .gt_option a img {
  max-height: 18px;
  max-width: 22px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.header .lang .gt_switcher .gt_selected {
  background: transparent;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
  margin: 0;
}

.header .lang .gt_switcher .gt_selected a {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
  margin: 0;
  background: transparent;
}

.header .lang .gt_switcher .gt_selected a.open::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.header .lang .gt_switcher .gt_selected a::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icons/arr.svg);
  height: 24px;
  width: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -24px;
  left: auto;
}

.header .lang .gt_switcher .gt_selected a img {
  height: 18px;
  width: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 3px;
}

.header a.header-logo:hover p {
  color: #C4C4C4;
  -webkit-text-fill-color: #C4C4C4;
}

.bg-offer {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../img/bg-offer.svg);
  background-position: -175px -590px;
}

.offer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer .right {
  width: 342px;
}

.offer .right img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 0;
}

.offer .left {
  width: calc(100% - 342px - 115px);
}

.offer .left h1 {
  font-size: 64px;
  display: block;
  line-height: 1.2;
  margin-bottom: 15px;
}

.offer .left p {
  font-weight: 700;
  display: block;
  margin-bottom: 40px;
  font-size: 22px;
}

.offer .left .button {
  max-width: 270px;
}

.offer-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-bottom: 0px;
}

.offer-features .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
  border-radius: 10px;
  background-image: url(../img/bg-card.svg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(51.5px);
          backdrop-filter: blur(51.5px);
  padding: 70px 30px;
  position: relative;
  width: calc(33.3% - 20px);
  border: 1px solid rgba(167, 167, 167, 0.2);
}

.offer-features .item b {
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
}

.offer-features .item p {
  font-size: 18px;
  display: block;
  margin: 0;
}

.offer-features .item .icon {
  position: absolute;
  right: 0px;
  top: -60px;
  display: block;
}

.offer-features .item .icon img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes header {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes header {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header.active {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(167, 167, 167, 0.2);
  background: lightgray 0% 0%/100px 100px repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(149, 149, 149, 0.13)), to(rgba(3, 3, 3, 0.08)));
  background: lightgray 0% 0%/100px 100px repeat, -o-linear-gradient(top, rgba(149, 149, 149, 0.13) 0%, rgba(3, 3, 3, 0.08) 100%);
  background: lightgray 0% 0%/100px 100px repeat, linear-gradient(180deg, rgba(149, 149, 149, 0.13) 0%, rgba(3, 3, 3, 0.08) 100%);
  -webkit-backdrop-filter: blur(51.5px);
          backdrop-filter: blur(51.5px);
  z-index: 1000;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: header;
          animation-name: header;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header.active ul li.menu-item-has-children ul {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(149, 149, 149, 0.43)), to(rgb(3, 3, 3)));
  background: -o-linear-gradient(top, rgba(149, 149, 149, 0.43) 0, rgb(3, 3, 3) 100%);
  background: linear-gradient(180deg, rgba(149, 149, 149, 0.43) 0, rgb(3, 3, 3) 100%);
}

body {
  display: block;
}

.tap {
  padding-top: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-image: url(../img/tap-bg.svg);
  display: block;
}

.tap .header-logo {
  margin: auto;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tap h1 {
  font-size: 32px;
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 50px;
}

.tap .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.tap .social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 25px;
}

.tap .social svg {
  height: 44px;
  width: 44px;
}

.tap .button {
  width: 100%;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.tap .q {
  display: block;
  margin: auto;
}

.header .lang .gt_switcher .gt_selected a img {
  height: 18px !important;
  width: 22px !important;
}

@media (max-width: 1245px) {
  .container {
    max-width: 960px;
  }

  .offer .left h1 {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 740px;
  }

  .page-top {
    padding-top: 110px;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header-logo p {
    font-size: 9px;
  }

  .header-logo svg {
    width: 87px;
    -o-object-fit: contain;
       object-fit: contain;
    height: 18px;
  }

  .header .burger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-menu {
    display: none !important;
  }

  .header-right {
    display: none !important;
  }

  .menu-mob {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1200;
    padding: 15px;
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/mob-menu.svg);
    overflow-y: auto;
    padding-bottom: 60px;
  }

  .menu-mob .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }

  .menu-mob .header-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .menu-mob .header-menu ul {
    display: block;
  }

  .menu-mob .header-menu ul li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu-mob .header-menu ul li a {
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 400;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .menu-mob .header-menu ul li.menu-item-has-children::after {
    display: none;
  }

  .menu-mob .header-menu ul li.menu-item-has-children > a {
    padding: 0 30px;
  }

  .menu-mob .header-menu ul li.menu-item-has-children > a.active::before {
    -webkit-transform: rotate(180deg) translateY(50%);
        -ms-transform: rotate(180deg) translateY(50%);
            transform: rotate(180deg) translateY(50%);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .menu-mob .header-menu ul li.menu-item-has-children ul {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding: 0;
    display: none;
    background: transparent;
    border: none;
    background-image: none;
    margin-bottom: 35px;
  }

  .menu-mob .header-menu ul li.menu-item-has-children ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu-mob .header-menu ul li.menu-item-has-children ul li:last-child a {
    margin-bottom: 0;
  }

  .menu-mob .header-menu ul li.menu-item-has-children ul li a {
    margin-bottom: 10px;
    font-size: 16px;
    margin-right: 0;
  }

  .menu-mob .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }

  .menu-mob .social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10px;
  }

  .menu-mob .header-right {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0;
  }

  .menu-mob .header-right a {
    font-size: 20px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
  }

  .menu-mob .header-right small {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .menu-mob .lang {
    margin-left: 0;
    margin-bottom: 35px;
  }

  .menu-mob .lang .gt_switcher {
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    overflow: visible;
  }

  .menu-mob .lang .gt_switcher .gt_option {
    position: absolute !important;
    top: 100%;
    left: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0px;
    border-radius: 4px;
    border: 1px solid #A7A7A7 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(149, 149, 149, 0.13)), to(rgba(3, 3, 3, 0.08))) !important;
    background: -o-linear-gradient(top, rgba(149, 149, 149, 0.13) 0%, rgba(3, 3, 3, 0.08) 100%) !important;
    background: linear-gradient(180deg, rgba(149, 149, 149, 0.13) 0%, rgba(3, 3, 3, 0.08) 100%) !important;
    -webkit-backdrop-filter: blur(51.5px) !important;
            backdrop-filter: blur(51.5px) !important;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .menu-mob .lang .gt_switcher .gt_option a {
    font-size: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .menu-mob .lang .gt_switcher .gt_option a img {
    max-height: 18px;
    max-width: 22px;
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
  }

  .menu-mob .lang .gt_switcher .gt_selected {
    background: transparent;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0;
    margin: 0;
  }

  .menu-mob .lang .gt_switcher .gt_selected a {
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0;
    margin: 0;
    background: transparent;
  }

  .menu-mob .lang .gt_switcher .gt_selected a.open::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
  }

  .menu-mob .lang .gt_switcher .gt_selected a::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/icons/arr.svg);
    height: 24px;
    width: 24px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -24px;
    left: auto;
  }

  .menu-mob .lang .gt_switcher .gt_selected a img {
    height: 18px;
    width: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 3px;
  }

  .menu-mob .menu-mob .lang .gt_switcher .gt_selected a {
    padding: 0 24px;
  }

  .offer .container {
    display: block;
  }

  .offer .left {
    width: 100%;
    margin-bottom: 15px;
  }

  .offer .left .button {
    margin: auto;
  }

  .offer .right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .offer .right img {
    width: 100%;
    margin: auto;
    display: block;
    max-width: 330px;
    height: 360px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center top;
       object-position: center top;
  }

  .offer-features {
    display: block;
  }

  .offer-features .item {
    width: 100%;
    margin-bottom: 60px;
    height: 237px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }

  .offer .left h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .offer .left p {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

@media (max-width: 578px) {
  .offer.page-top {
    padding-top: 90px;
  }

  .offer .left h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .offer .left p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .offer .left .button {
    width: 100%;
    max-width: 100%;
    height: 60px;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1245px) {
  .header-menu ul li a {
    font-size: 14px;
    margin: 0 10px;
  }

  .header-menu ul li.menu-item-has-children > a {
    padding-right: 24px;
  }
}